<!DOCTYPE html>

<title>Edit DonArgent</title>

{% block body %}
    <h1>Edit DonArgent</h1>

    {{ include('don_argent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_don_argent_index') }}">back to list</a>

    {{ include('don_argent/_delete_form.html.twig') }}
{% endblock %}
