{% extends 'back.html.twig' %}

{% block title %}Edit TypeDispo{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}
{% block typeDispo %}
    <h1>Edit TypeDispo</h1>

    {{ include('type_dispo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_dispo_index') }}">back to list</a>

    {{ include('type_dispo/_delete_form.html.twig') }}
{% endblock %}
