<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Orders List</h1>
<table>
    <thead>
    <tr>
        <th>Name User</th>
        <th>State</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.idUserC.nom }}</td>
            <td>{{ order.etat }}</td>
            <td>{{ order.date|date('d/m/Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
