{% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="offset-3 col-3">
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
{{ form(form,{'attr': {'novalidate': 'novalidate'}} ) }}

</div>