<form method="post" action="{{ path('app_pt_collect_delete', {'id': pt_collect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pt_collect.id) }}">
    <button class="btn">Delete</button>
</form>
