{% extends 'HomeOn.html.twig' %}
{% block body %}

<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center mx-auto">
       
        <div class="404-content">
          <h1 class="display-1 pt-1 pb-2">Ooops</h1>
          <p class="px-10 pb-20 text-dark">It looks like somone already took this producy:But
            there is a lot more for you! Keep exploring!!!</p>
          <a  href="{{ path('app_produit_troc_index')}}" class="btn btn-info">Back to list</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}