<!DOCTYPE html>

<title>New ProduitTrocWith</title>

{% block body %}
    <h1>Create new ProduitTrocWith</h1>

    {{ include('produit_troc_with/_form.html.twig') }}

    <a href="{{ path('app_produit_troc_with_index') }}">back to list</a>
{% endblock %}
